.banner {
  height: 700px;
  max-height: calc(100vh - 59px);
  background-image: url("/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  > div {
    > p {
      line-height: 2;
      width: 90vh;
    }
  }
  > i {
    width: 300px;
  }
  > h2 {
    text-align: center;
    float: right;
    margin-left: auto;
    margin-right: auto;
  }
}

.leistungen {
  display: flex;
  flex-direction: column;
  > div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
  }
  > section {
    display: flex;
    justify-content: space-around;
    > div > ul > li > h3 {
      font-size: 16px;
    }
  }
}

.contact {
  display: flex;
  padding: 2%;
  background-color: lightblue;
  justify-content: space-around;
  > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.oeffnung {
}
